$font-primary: 'Chau Philomene One', sans-serif;
$font-logo: "Oleo Script", serif;
$font-size: 2rem;
//$color-primary: #1691c3;
//$color-text: #444;
//$color-logo: #fc4887;
//$color-light: #fff;
//$color-background: #e4e4e4;

$border-radius: 10px;

$spacing-main: 10px;

$width-page: 100%;

$tablet: 750px;
$desktop: 1000px;

/* Color Theme Swatches in Hex */
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-1-hex: #070E26;
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-2-hex: #0F1B40;
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-3-hex: #D99311;
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-4-hex: #BF5B04;
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-5-hex: #8C2E0B;

/* Color Theme Swatches in RGBA */
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-1-rgba: rgba(6,14,38, 1);
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-2-rgba: rgba(14,26,63, 1);
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-3-rgba: rgba(216,146,17, 1);
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-4-rgba: rgba(191,91,3, 1);
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-5-rgba: rgba(140,45,11, 1);

/* Color Theme Swatches in HSLA */
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-1-hsla: hsla(225, 70, 8, 1);
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-2-hsla: hsla(225, 62, 15, 1);
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-3-hsla: hsla(39, 85, 45, 1);
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-4-hsla: hsla(28, 96, 38, 1);
$glass-of-whiskey-with-ice-on-a-wooden-table-surrounded-by-smoke-5-hsla: hsla(16, 85, 29, 1);