.quiz-menu {
  width: $width-page;
  height: 100vh;
  background-image: url("./../images/whisky_background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  & .quiz-header {
    width: $width-page;
    height: 20%;
    padding: 8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: $white;
    & .quiz-title {
      font-family: $font-primary;
     font-size: 3.2rem;
      background: $black;;
      border-radius: $border-radius;
      color: $white;
      padding: 20px;
   }
  }
  }
.quiz-article {
  font-size: 1rem;
  margin-bottom: 20px;

}
