.columns-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $black;;
  border-radius: $border-radius;
  color: $white;
  height: 250px;
}
.columns-text {
  text-align: center;
  font-size: 2.25rem;
  font-family: $font-primary;
  padding: 20px 20px;
  color: $white;
  opacity: 1;
}
  .button-primary {
    .link-primary {
      font-size: 1.5rem;
    }
  }

@media (min-width: 770px) and (max-width: 992px) {
  .button-primary {
      padding: $spacing-main*2;
      .link-primary {
        font-size: 1rem;
      }
    }
    .columns-text {
      font-size: $font-size*2.2;
    }
  }
  @media (min-width: 577px) and (max-width: 769px) {
    .columns-background {
      height: 175px;
      margin-left: $spacing-main*3;
      margin-right: $spacing-main*3;
    }
    .columns-text {
      font-size: 2rem;
      padding: $spacing-main;
    }
    .button-primary {
      padding: $spacing-main;
      .link-primary {
        font-size: 1rem;
      }
    }
  }
  @media (min-width: 0px) and (max-width: 576px) {
    .columns-background {
      height: 150px;
      margin-left: $spacing-main*2.5;
      margin-right: $spacing-main*2.5;
    }
    .columns-text {
      font-size: 1.7rem;
      font-family: $font-primary;
      padding: $spacing-main;
      color: $white;
      opacity: 1;
    }
    .button-primary {
      padding: $spacing-main*0.25;

      .link-primary {
        font-size: 1rem;
      }
    }
  }

