.quiz-box {
  background: rgba(0, 0, 0, 0.7);
  border-radius: $border-radius;
  color: $white;
  padding: 1.4rem;
  text-align: center;
  font-family: $font-primary;
}
.quiz-question {
  padding-top: 1rem;
}
@media (min-width: 321px) and (max-width: 576px) {
  .quiz-box {
    padding: 0.25rem;
    .title-game{
      font-size: $font-size*1.75;
    }
    .quiz-question {
      .question {
        font-size: $font-size*1.25;
      }
    }
  }
}
@media (min-width: 200px) and (max-width: 320px) {
  .quiz-box {
    padding: 0;
    .title-game{
      font-size: $font-size;
    }
    .quiz-question {
      min-height: 160px;
      .question {
        font-size: $font-size*0.9;
      }
      .button-secondary {
        font-size: $font-size*0.85;
        padding: 0.1rem 0.1rem;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 199px) {
  .quiz-box {
    margin-top: $spacing-main*2;
    padding: 0.1rem;
    .title-game{
      display: none;
    }
    .quiz-question {
      min-height: 177px;
      .question {
        font-size: $font-size*0.9;
      }
      .button-secondary {
        font-size: $font-size*0.9;
        padding: 0.1rem 0.1rem;
      }
    }
  }
}