.button-primary {
  background-color: rgba(191,91,3, 1);
  border-radius: 5%;
  padding: 1rem;
  border: transparent;
  margin-top: 0.7rem;
  &:hover {
    background-color: rgba(140,45,11, 1);
    text-decoration: none;
  }
}
.button-secondary {
  background-color: rgba(216,146,17, 1);
  border-radius: 5%;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border: transparent;
  margin: 0.3rem;
  &:hover {
    background-color: rgba(191,91,3, 1);
  }
}
.button-third {
  background-color: rgba(140,45,11, 1);
  border-radius: 5%;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border: transparent;
  margin: 0.3rem;
  color: whitesmoke;
  &:hover {
    background-color: rgba(120,0,11, 1);
  }
}