.button-primary {
  background-color: $orange;
  border-radius: 5%;
  padding: 1rem;
  border: transparent;
  margin-top: 0.7rem;
  &:hover {
    background-color: $mexican-red;
    text-decoration: none;
  }
}
.button-secondary {
  background-color: $yellow;
  border-radius: 5%;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border: transparent;
  margin: 0.3rem;
  &:hover {
    background-color: $orange;
  }
}
.button-third {
  background-color: $mexican-red;
  border-radius: 5%;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border: transparent;
  margin: 0.3rem;
  color: $white;
  &:hover {
    background-color: rgba(120,0,11, 1);
  }
}