.quiz-box {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: whitesmoke;
  padding: 1.4rem;
  text-align: center;
  font-family: $font-primary;

}
.quiz-question {
  padding-top: 1rem;
}